@import  "../../../styles/variables.scss";

.input-wrapper {
    color:  $text-color;
    text-align: start;
    font-size: 12px;
    
    label {
        font-family: 'Poppins';
        font-weight: 400;
        color: $text-color;
        font-size: 12.6px;
    }

    .input-content {
        width: 100%;
        border-radius: 6.5px;
        display: flex;
        margin-top: 7px;


        input{
            width: 100%;
            height: 40px;
            background:  $background-input;
            border-radius: 6.5px 0 0 6.5px ;
            border: none;
            padding:  10px 0 10px 15px;
            outline: none;
            color: rgba(124, 124, 124);
        
            &:focus {
                box-shadow: inset 0 0 0 1.2px rgb(255, 255, 255);            }
        }

        .icon {
            padding: 10px;
            background-image:  $primary-color;
            max-height: 40px;
            max-width: 40px;
            border-radius:  0 6.5px 6.5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

    }
}
