$background-color :  rgba(33, 40, 82, 0.562);
$primary-color:  linear-gradient(219deg, rgba(233,240,53,1) 16%, rgba(240,212,53,1) 61%);
$primary-solid-color: rgba(67,61,82);
$secondary-color: rgba(228, 229, 233, 0.4);
$text-color: rgba(85, 85, 85);
$gray: rgba(194, 194, 194);
$background-input: rgba(241, 243, 246)
