$background-color :  rgba(33, 40, 82, 0.562);
$primary-color:  linear-gradient(207.25deg, rgba(233, 240, 53) -101.14%, rgba(242, 184, 156) 169.99%);
$primary-solid-color: rgba(67,61,82);
$secondary-color: rgba(228, 229, 233, 0.4);
$text-color: rgb(218, 218, 218);
$gray: rgba(194, 194, 194);
$background-input: rgba(241, 243, 246)

