@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: row;
    height:  100%;
    align-items: center;
    justify-content: center;
    background-image: url("/svg/Background.svg");
    background-position: 15%;

    section  {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section {
        justify-content: center;
        flex-grow: 1;

        h1 {
            font-size: 30px;
            position: absolute;
            top: 70%;
            font-weight: normal;

        }
    
    }

    .form-section {
        background-color: $background-color;
        flex-grow: 0.1;
        padding: 0 30px;

        img {
            width: 150px;
            margin-bottom: 20px;
        }
    
         h2 {
            font-size: 15.75px;
            font-weight: bold;
            margin-bottom: 35px;
        }
    
        .btn-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap:  20px;

            .divider {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                span {
                    font-size: 12px;
                    padding: 0 15px;
                    color: rgba(255, 255, 255, 0.753);
                }

                div {
                    background-color: $gray;
                    width: 100%;
                    height: 1.4px;
                    border-radius: 10px;
                }
            }


            button {
                box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.25);
                border-radius: 10px;   
                width: 100%;
                padding:  10.5px 0;
                border: none;
                font-size: 12.5px;
                font-weight: 500;
                opacity: 90%;

                
                &.primary-btn {
                    background-image:  $primary-color;
                    height: 41px;

                    &.primary-btn:hover {
                        opacity: 95%;
                    }
                }
                
                &.secondary-btn {
                    background-color: $secondary-color;
                    border: 1.5px solid rgba(255, 255, 255, 0.9);
                    font-weight: bold;
                    text-shadow:  0 0 8px rgba(0, 0, 0, 0.3);

                    &.secondary-btn:hover {
                        background-color: rgba(180, 180, 180, 0.808) ;
                        border: 2px solid rgba(255, 255, 255, 0.9);
                    }
                }
                
                &:hover {
                    cursor: pointer;
                    transform: scale(99.5%);
                }
            }
        }
    }
        

}


