<main>
    <section class="form-section">
        <img src="/svg/Logo.svg" alt="">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="primary-btn">{{ primaryBtnText }}</button>
            <div class="divider">
                <div></div> 
                <span>OU</span>
                <div></div> 
            </div>
            <button class="secondary-btn">{{ secondaryBtnText }}</button>
        </div>
    </section>
    <section class="main-section">
        <img src="/svg/Planet.svg" alt="">
        <h1>Sua jornada começa com o Solaris!</h1>
    </section>
</main>