<app-default-login-layout
title="Entre na sua conta"
primaryBtnText = "Entrar agora"
(submit)="submit()"
>
<form [formGroup]="loginForm">
    <app-primary-input
        formControlName="email"
        finputName="email"
        type="email"
        label="Email"
        placeholder="alex@email.com"
        title="Insira um Email valido">
        <img src="svg/mail-icon.svg" alt="">
    </app-primary-input>
    <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Senha"
        placeholder="Digite sua senha">
        <img src="svg/password-icon.svg" alt="">
    </app-primary-input>
    <span>Esqueceu a senha?</span>
</form>
</app-default-login-layout>