@import "../../../styles/variables.scss";
@import 'ngx-toastr/toastr';


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;

    span {
        font-weight: 400;
        font-size: 11px;
        text-decoration-line: underline;
        color: $text-color;
        text-align: end;
    }
}

